<!DOCTYPE html>
<head>
  <link rel="stylesheet" tyoe="text/css" href="../stylesheets/style_login.css">
  <h1>Welcome new artist!</h1>
  <h2>Here you can create your own profile page for your listeners to view</h2>
  <h3>Fill out the these forms to get started!</h1>
  <form method="post">
    <p>First name <input type = "text" name = "first_name" placeholder="Enter your First Name"/></p>
    <p>Last name <input type = "text" name = "last_name" placeholder="Enter your Last Name"/></p>
    <p>Stage name <input type = "text" name = "stage_name" placeholder="Enter your Stage Name"/></p>
    <p>Hometown <input type = "text" name = "hometown_name" placeholder="Where are you from?"/></p>
    <p>Genre <input type = "text" name = "genre-name" placeholder="Enter the genre you fall under"/></p>
    <p>Type a detailed bio of yourself so you're fans can get to know you</p>
    <textarea></textarea>

  </form>

</head>
