<html>
<head>
  <!-- <script type='text/javascript' src='http://code.jquery.com/jquery-1.11.0.min.js'></script>
  <script type='text/javascript' src='./js/forms.js'></script>
  <script type='text/javascript' src='http://connect.soundcloud.com/sdk.js'></script>
  <script type='text/javascript' src='https://w.soundcloud.com/player/api.js'></script>
  <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script> -->
  <style>
    body {
          background-image: url(background-image.jpg);
          text-align: center;
        }
  </style>
</head>
<body>
  <h1>Here is your Artist Profile Page!</h1>
  <h3>This is what your listeners should see</h3>
  <p> {{ artist_first }}
      {{ artist_last }} </p>
  <p> {{ stage_name }} </p>
  <p> {{ hometown }}
      {{ genre }} </p>
  <p> {{ bio }} </p>

  <a href=" {{ soundcloud }}">Soundcloud</a></center>
  <!-- <p id="demo"></p>

<script>
function myFunction() {
    var x = location.pathname;
    document.getElementById("demo").innerHTML = x;
}
</script> -->


</body>
</html>
