<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../js/forms.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <title>NoTreble</title>
  </head>
  <body>
    <img src="../stylesheets/arial48-8.png" alt="No Treble" style="width: 400px; height: 100px; border-radius: 5px;"></br></br>
    <button type = "submit" class="btn-lg" name="greeting"> {{ greeting }} </button></br></br>
    <form method="post" action= {{ user_value }}/>
    <label>
      Artist
      <input type="radio" name="user_type" value="artist"/><br/>
    </label> <br>
    <label>
      Listener
      <input type="radio" name="user_type" value="listener"/><br/>
    </label> <br>

      <button class = "btn btn-primary btn-lg active" type = "submit">Sign Up!</button>
    </form>
  </body>
</html>
