<!DOCTYPE html>
<html>
  <head>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" tyoe="text/css" href="../stylesheets/style.css">
    <title>NoTreble</title>
  </head>
  <body>
    <h1>NoTreble</h1>
    <button type = "submit" name="greeting">{{ greeting }}</button></br>
    <form method="post" action= {{ user_value }}/>
    <label>
      Artist
      <input type="radio" name="user_type" value="artist"/><br/>
    </label>
    <label>
      Listener
      <input type="radio" name="user_type" value="listener"/><br/>
    </label>

      <button type = "submit">Sign Up!</button>
    </form>
  </body>
</html>
