<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../stylesheets/listener.css">
    <style>
      body {
        background-color: #FFFAF0;
      }
    </style>
  </head>

  <body>
    <h1>Welcome to your Home Page!</h1>
    <h2>Here is your basic profile information!</h2>

    <p>First name: {{ listener_first }}</p>
    <p>Last name: {{ listener_last }}</p>
    <p>Favorite Genre: {{ favorite_genre }}</p>

    <h3>Here are some new artists! Give them a listen!</h3>
    <!-- LINKS TO ARTISTS ARE SOMEWHERE HERE -->
    <form>
      <input type = "text" name = "searchbar" placeholder="Search for an artist">
    </form>
    
  </body>

</html>
