<html>
<head>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style_login.css">
</head>
<body>
  <h1> Welcome to No Treble!<h1>
  <h2> Create your profile and start finding new artists!<h2>
    <form method="post">
      <p>First name <input type = "text" name = "first_name" placeholder="Enter your First Name"/></p>
      <p>Last name <input type = "text" name = "last_name" placeholder="Enter your Last Name"/></p>
      <p>Favorite Genre <input type = "text" name = "fave_genre" placeholder="Enter your Favorite Genre"/></p>
        <button>Submit</button>
    </form>
</body>
</html>
