<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../stylesheets/listener.css">
    <style>
      body {
        background-color: #FFFAF0;
      }
    </style>
  </head>

  <body>
    <form>
      <input type = "text" class = "search" placeholder="Search...">
    </form>

    <h1>Welcome to your Home Page!</h1>
    <h2>Here is your basic profile information!</h2>

    <h3>Here are some artists you can listen to based on your favorite genre!</h3>
    <!-- LINKS TO ARTISTS ARE SOMEWHERE HERE -->
    
    <h3>{{ artist_id }}</h3>

  </body>

</html>
